#mars-plot {
    background: #222;
    width: 980px;
    height: 420px;
    transform: scale(1, -1);
}

g, #marsplot {
    transform: scale(0.14);
    width: 7000px;
    height: 3000px;
}

line, #mars-plot {
    stroke: rgb(255, 0, 0);
    stroke-width: 6px;
}

.lineContainer {
    transform: none;
}
polyline {
    fill: none;
    stroke-width: 5px;
}

.form-inline {
    display: inherit;
}

.landed {
    stroke: rgb(0, 255, 0);
}

#sel-terrain-loader {
    display: flex;
}

#div-actualLoop {
    display: flex;
}

#div-actualLoop {
    margin: 6px 0 0 3px;
    display: none;
}

#actualLoop {
    margin: 0;
}

#input-loopNumber {
    display: none;
}

#btn-startSim {
    display: none;
}
